body {
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .footer {
        align-self: flex-start;
    }
}
