.board {
    border: 2px solid black;
    width: fit-content;
    margin: 0 auto;
    .row-div {
        display: flex;
        .square {
            width: 25px;
            height: 25px;
            border: 1px outset black;
        }
        .unclicked {
            background-color: aquamarine;
        }
        .filled {
            background-color: teal;
        }
        .exed {
            background-color: red;
        }
        .maybe {
            background-color: pink;
        }
    }
}
