.header {
    display: flex;
    flex-direction: column;
    h1 {
        font-family: 'Kiwi Maru';
        // font-family: 'Baloo 2';
        // font-family: 'Fredericka the Great';
        // font-family: 'Skranji';
        // font-family: 'Unkempt';
        color: $header;
        background-color: whitesmoke;
        width: fit-content;
        border-radius: 5%;
        align-self: center;
        padding: 0 0.5rem;
        border: 2px outset whitesmoke;
        box-shadow: 0.2rem 0.2rem 0.2rem $header;
    }
    .nav-bar {
        display: flex;

        font-family: 'Baloo 2';
        justify-content: space-between;
        .left-nav {
            width: 40%;

            display: flex;
            justify-content: center;
            .completed-puzzles-box {
                position: relative;
                z-index: 10;
                width: 100%;
                justify-content: center;
                display: flex;
                #completed-puzzles-button {
                    font-weight: 600;
                    background-color: $cloud-pink;
                    color: $header;
                    width: fit-content;
                    border: 2px outset $cloud-pink;
                    padding: 0.5rem;
                    border-radius: 5px;
                    box-shadow: 0.2rem 0.2rem 0.2rem $header;
                }
                #completed-puzzles-button.unpressed {
                    border-style: outset;
                }
                #completed-puzzles-button.pressed {
                    border-style: inset;
                }
                #completed-puzzles-detail {
                    position: absolute;
                    background-color: $cloud-pink;
                    top: 4rem;
                    width: 80%;
                    text-align: left;
                    border-radius: 5px;
                    box-shadow: 2px 2px 2px $header;
                    display: flex;
                    .solved {
                        margin: 2rem;
                        width: 4rem;
                        height: 4rem;
                    }
                    .unsolved {
                        margin: 2rem;
                        width: 4rem;
                        height: 4rem;
                        background-color: grey;
                        background-image: url(../../images/question_mark.png);
                        background-size: 4rem 4rem;
                        background-position: center;
                    }
                    #tutorial.solved {
                        background-image: url(../../images/tutorial.png);
                        background-size: 4rem 4rem;
                        background-position: center;
                    }
                    #level_one.solved {
                        background-image: url(../../images/level_1.png);
                        background-size: 4rem 4rem;
                        background-position: center;
                    }
                    #level_two.solved {
                        background-image: url(../../images/level_2.png);
                        background-size: 4rem 4rem;
                        background-position: center;
                    }
                }
                #completed-puzzles-detail.hidden {
                    display: none;
                }
                #completed-puzzles-detail.active {
                    display: flex;
                }
            }
        }
        .instructions-box {
            width: 40%;

            z-index: 10;
            display: flex;
            justify-content: center;
            position: relative;
            #instructions-button {
                font-weight: 600;
                background-color: $cloud-pink;
                color: $header;
                width: fit-content;
                border: 2px outset $cloud-pink;
                padding: 0.5rem;
                border-radius: 5px;
                box-shadow: 0.2rem 0.2rem 0.2rem $header;
                &:hover {
                    cursor: pointer;
                }
            }
            #instructions-button.unpressed {
                border-style: outset;
            }
            #instructions-button.pressed {
                border-style: inset;
            }
            #instructions-detail {
                position: absolute;
                background-color: $cloud-pink;
                top: 4rem;
                width: 80%;
                text-align: left;
                border-radius: 5px;
                box-shadow: 2px 2px 2px $header;
                ul {
                    padding: 0 1rem;
                    margin: 1rem 2rem;
                }
                p {
                    padding: 0 1rem;
                    margin: 1rem 2rem;
                    span {
                        font-weight: 600;
                    }
                }
            }
            .hidden {
                display: none;
                height: 0;
                width: 400px;
            }
            .active {
                display: block;
                height: fit-content;
            }
        }
    }
}
