.header {
    display: flex;
    flex-direction: column;
    h1 {
        color: $header;
    }
    .instructions-box {
        align-self: flex-end;
        width: 400px;

        display: flex;
        justify-content: center;
        position: relative;
        .instructions-button {
            background-color: $cloud-pink;
            color: $header;
            width: fit-content;
            border: 2px outset $cloud-pink;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 2px 2px 2px $header;
            &:hover {
                cursor: pointer;
            }
        }
        #instructions-detail {
            position: absolute;
            background-color: $cloud-pink;
            top: 50px;
        }
        .hidden {
            display: none;
            height: 0;
            width: 400px;
        }
        .active {
            display: block;
            height: fit-content;
        }
    }
}
