.message-box {
    color: whitesmoke;
    // border: 1px solid whitesmoke;
    font-size: 16px;
    border: 1px solid $header;
    border-radius: 0.5em;
    background-color: $header;
    box-shadow: 2px 2px 2px $header;
    font-family: 'Kiwi Maru';
    width: 20rem;
    height: 10rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .timer-box {
        padding: 0.5em;
        border: 3px dotted whitesmoke;
        border-radius: 5px;
        #timer {
            // padding: 0.5em;
        }
    }

    .hidden {
        display: none;
    }
    .active {
        display: inline-block;
    }
    #restart {
        color: white;
        &:visited {
            color: white;
        }
    }
}
