.message-box {
    color: whitesmoke;
    // border: 1px solid whitesmoke;
    font-size: 16px;
    z-index: 10;
    position: relative;
    border: 1px solid $header;
    border-radius: 0.5em;
    background-color: $header;
    box-shadow: 2px 2px 2px $header;
    font-family: 'Kiwi Maru';
    width: 20rem;
    height: 10rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .outer-timer-box {
        display: flex;
        align-items: center;
        .pause-box {
            padding: 0.5em;
            border: 3px dotted whitesmoke;
            margin-left: 0.5em;
            border-radius: 5px;
            &:hover {
                cursor: pointer;
                background-color: whitesmoke;
                color: $header;
            }
            .pause {
                padding: 0.5em;
            }
        }
        .timer-box {
            padding: 0.5em;
            border: 3px dotted whitesmoke;
            border-radius: 5px;

            #total-timer {
                padding: 0.5em;
            }
        }
    }
    #level-msg {
        p {
            margin: 10px 0;
        }
    }
    .hidden {
        display: none;
    }
    .active {
        display: inline-block;
    }
    #restart {
        color: white;
        &:visited {
            color: white;
        }
    }
}
