.message-box {
    color: whitesmoke;
    // border: 1px solid whitesmoke;
    font-size: 16px;
    font-family: 'Kiwi Maru';
    width: 300px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .hidden {
        display: none;
    }
    .active {
        display: inline-block;
    }
    #restart {
        color: white;
        &:visited {
            color: white;
        }
    }
}
